{% extends "base.html" %}

{% block content %}

<h3>Edit Task</h3>

<div class="row">
    <form action="{{url_for('insert_task')}}" method="POST" class="col s12">

        <!-- CATEGORY -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                        <!-- if the category name is equal to the category name of the task, display the name as selected -->
                        {% if cat.category_name == task.category_name %}
                        <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                        <!-- else list the categories that arent equal to the category name of the task -->
                        {% else %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                      {% endif %}   
                    {% endfor %}

                </select>
                <label>Task Category</label>
            </div>
        </div>
        <!-- /CATEGORY -->

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input name="task_name" id="task_name" type="text" class="validate" value="{{task.task_name}}">
                <label for="icon_prefix">Task Name</label>
            </div>
        </div>

        <div>
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="task_description" id="task_description" class="materialize-textarea">{{task.task_description}}</textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12" id="matfix">
                <i class="material-icons prefix">today</i>
                <input name="due_date" id="due_date" type="text" class="datepicker">
                <label for="icon_prefix">Due Date</label>
            </div>
        </div>

        <div class="switch">
            <label>
                {% if task.is_urgent %}
                <input name="is_urgent" id="is_urgent" type="checkbox" checked>
                {% else %}
                <input name="is_urgent" id="is_urgent" type="checkbox">
                {% endif %}
                <span class="lever"></span>
                Is Urgent
            </label>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Task
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>

<!-- the script source was added due to a bug, jQuery wasnt binding from tha base.html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      
        due_date = Date.parse('{{task.due_date}}')
        $('#due_date').pickadate('picker').set('select', due_date, {format: 'dd/mm/yyyy'}).trigger('change')

    
    })
</script>
{% endblock %}