{% extends "base.html" %}

{% block content %}
{% for task in tasks %}

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>
            </div>
            <div class ='col s9'>
                <strong>{{task.task_name}} </strong> - {{task.due_date}}</div>
            </div>
            
        <div class="collapsible-body"><span>{{task.task_description}}</span></div>
    </li>
</ul>

{% endfor %}
{% endblock %}

{{task.category_name}}
{{task.is_urgent}}
{{task.due_date}}